<?xml version="1.0" encoding="UTF-8"?>
<!-- Here we need to provide config of spring and for that we use a tag here and get the components from the internet  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="airtel" class="com.example.Airtel">
<property name="dataStrength" value="signal strength is high"></property>

</bean>

<bean id="idea" class="com.example.Idea" >
<constructor-arg name="dataStrength" value="signal strength is low"></constructor-arg>

</bean>
           
</beans>
           
           
          